@charset "UTF-8";
@import url(//db.onlinewebfonts.com/c/4c4c08af466e9ad071b6d69cf44093df?family=Saol+Display+Regular);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul, li {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a,
a:hover {
  text-decoration: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  outline: none !important; }

body {
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased; }

button,
input[type=cancel],
input[type=reset],
input[type=submit]:hover {
  cursor: pointer; }

input[type=file],
input[type=password],
input[type=submit],
input[type=text],
input[type=email],
input[type=search],
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  overflow: auto; }

select::ms-expand {
  display: none; }

input::-ms-clear {
  display: none; }

/**************
END RESETT CSS
****************/
@font-face {
  font-family: "BrutalType";
  src: url("../font/BrutalType/BrutalType-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap; }
@font-face {
  font-family: "BrutalType";
  src: url("../font/BrutalType/BrutalType-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap; }
@font-face {
  font-family: "BrutalType";
  src: url("../font/BrutalType/BrutalType.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap; }
@font-face {
  font-family: "BrutalType";
  src: url("../font/BrutalType/BrutalType-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap; }
:root {
  --main-bg: #231F20;
  --white: #FAF5EF; }

html,
body {
  min-height: 100vh; }

html {
  font-size: 16px; }

body {
  background-color: var(--main-bg);
  color: var(--white);
  font-family: "BrutalType", sans-serif; }

img {
  max-width: 100%; }

a {
  color: currentColor;
  -webkit-transition: all .2s;
  transition: all .2s; }

h1,
.h1 {
  font-size: 72px; }

h2,
.h2 {
  font-size: 64px; }

h3,
.h3 {
  font-size: 48px; }

.h4 {
  font-size: 24px; }

.font-300 {
  font-weight: 300; }

.font-500 {
  font-weight: 500; }

b,
strong {
  font-weight: 700; }

.font-900 {
  font-weight: 900; }

.text-center {
  text-align: center; }

.text-uppercase {
  text-transform: uppercase; }

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.container {
  width: 100%;
  max-width: 1800px;
  padding: 0 20px;
  margin: 0 auto; }
  .container--full {
    padding: 0;
    max-width: unset; }

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto; }

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.svg-sprite {
  display: none; }

.for-tablet {
  display: none !important; }

.top-screen {
  width: 100%;
  height: 100vh;
  position: relative; }
  .top-screen::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .top-screen .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1; }

.full-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none; }
  .icon svg {
    width: 100%;
    height: 100%; }

.main-product__item__photos,
.main-product__item__descr {
  width: 50%; }

.main-product__item__descr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 50px 7vw; }
  .main-product__item__descr .h3 {
    margin-bottom: 1em; }
  .main-product__item__descr p {
    max-width: 530px;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 4.4em;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden; }

.main-product__item__link {
  display: inline-block;
  position: relative;
  font-size: 18px; }
  .main-product__item__link:hover::after {
    width: 100%; }
  .main-product__item__link:hover span::after {
    width: 0; }
  .main-product__item__link::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    top: 100%;
    right: 0;
    -webkit-transition: all .7s ease-in;
    transition: all .7s ease-in; }
  .main-product__item__link span {
    display: inline-block;
    position: relative; }
    .main-product__item__link span::after {
      content: '';
      width: 100%;
      height: 2px;
      background-color: currentColor;
      position: absolute;
      top: 100%;
      left: 0;
      -webkit-transition: all .7s .2s;
      transition: all .7s .2s; }

.main-product-list .main-product__item:nth-child(even) .main-product__item__content {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.main-product__item__slide img {
  width: 100%;
  max-height: 1000px; }

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -10px; }
  .product-list--two-column .product-list__item {
    width: 50%; }
  .product-list--three-column .product-list__item {
    width: 33.333%; }
  .product-list__item {
    padding: 0 10px;
    margin-bottom: 70px;
    text-align: center; }
    .product-list__item__body {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
  .product-list__img {
    display: block;
    line-height: 0;
    margin-bottom: 50px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    .product-list__img:hover img {
      -webkit-filter: brightness(1.3);
              filter: brightness(1.3); }
    .product-list__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -webkit-transition: all .5s;
      transition: all .5s; }
  .product-list__link {
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    position: relative; }
    .product-list__link::after {
      content: '';
      width: 0;
      height: 1px;
      position: absolute;
      left: 0;
      top: 100%;
      background-color: currentColor;
      -webkit-transition: all .5s ease-in;
      transition: all .5s ease-in; }
    .product-list__link:hover::after {
      width: 100%; }

.block-title {
  margin-bottom: 100px; }
  .block-title .subtitle {
    margin-bottom: 1em;
    font-weight: 300; }

.page-switcher {
  margin: 30px 0 70px; }

.page-switcher__link:hover {
  color: rgba(255, 255, 255, 0.6); }

.product-top {
  position: relative;
  line-height: 0;
  margin-bottom: 100px; }
  .product-top::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; }
  .product-top img {
    width: 100%; }
  .product-top .product-name {
    position: absolute;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    line-height: 1.2;
    font-weight: 300;
    z-index: 2; }

.product-page {
  margin-bottom: 100px; }

.product-page__content__img,
.product-page__content__data {
  width: 48%; }

.product-page__content__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.product-page__content__img__slider {
  width: 100%;
  height: 800px; }
  .product-page__content__img__slider .slick-list,
  .product-page__content__img__slider .slick-track {
    height: 100%; }
  .product-page__content__img__slider img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.product-page__preview-slider {
  margin: 50px -10px 100px;
  height: 260px; }
  .product-page__preview-slider .slick-list,
  .product-page__preview-slider .slick-track {
    height: 100%; }
  .product-page__preview-slider .slick-arrow {
    position: absolute;
    top: calc(100% + 35px);
    z-index: 1;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s; }
    .product-page__preview-slider .slick-arrow:hover {
      opacity: 0.7; }
  .product-page__preview-slider .prev-arrow {
    left: 10px; }
  .product-page__preview-slider .next-arrow {
    right: 10px; }

.product-page__preview-slide {
  padding: 0 10px; }
  .product-page__preview-slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.hr {
  width: 100%;
  height: 2px;
  background-color: #888686; }

p {
  font-size: 18px;
  line-height: 145%; }

.product-page__bottom {
  margin-top: 50px; }

.product-page__preview-slider .slick-current img {
  border: 1px solid #888686; }

.product-page__content__data .h3 {
  line-height: 1.2;
  margin-bottom: 1em; }

.product__options__row {
  padding: 15px 0;
  margin-bottom: 50px;
  border-bottom: 1px solid #888686; }
  .product__options__row:last-child {
    margin-bottom: 0; }

.product__options {
  margin: 65px 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product__options__row__title {
  white-space: nowrap;
  margin-right: 40px;
  font-size: 14px;
  text-transform: uppercase; }

.product__options__row__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.color-list li {
  padding: 0 5px;
  margin-bottom: 8px;
  width: 60px;
  height: 16px; }
  .color-list li a {
    display: block;
    height: 100%;
    line-height: 0;
    position: relative; }
    .color-list li a::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: -4px;
      top: -4px;
      border: 4px solid #DFDFDF;
      opacity: 0;
      -webkit-transition: all .3s;
      transition: all .3s; }
    .color-list li a:hover {
      opacity: 0.8; }
    .color-list li a.active::before {
      opacity: 1; }
    .color-list li a img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }

.select {
  width: 100%;
  background: url("../img/icons/select-arrow.svg") 100% center no-repeat;
  padding-right: 30px;
  color: #fff;
  font-size: 18px;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer; }

.price__title {
  font-size: 14px;
  margin-bottom: 5px; }
.price__total {
  font-weight: 300;
  font-size: 36px; }

.add-to-cart {
  font-size: 18px; }
  .add-to-cart:hover .text::after {
    width: 100%; }
  .add-to-cart .icon {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 1.166em;
    height: 0.944em;
    margin-right: 0.8em;
    position: relative;
    top: -0.15em; }
    .add-to-cart .icon svg {
      width: 100%;
      height: 100%; }
  .add-to-cart .text {
    position: relative; }
    .add-to-cart .text::after {
      content: '';
      width: 40%;
      height: 2px;
      background-color: currentColor;
      position: absolute;
      top: 100%;
      left: 0;
      -webkit-transition: all .4s ease-in;
      transition: all .4s ease-in; }

.cart-table {
  table-layout: fixed;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.3;
  margin-bottom: 100px; }
  .cart-table td {
    padding: 25px 20px 25px 10px;
    border-bottom: 1px solid #888686;
    vertical-align: middle; }
    .cart-table td:first-child {
      padding-left: 0; }
    .cart-table td:last-child {
      width: 30px;
      padding-right: 0; }
  .cart-table thead td {
    border-top: 1px solid #888686; }

.cart-img {
  width: 180px;
  height: 180px;
  line-height: 0; }
  .cart-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.counter {
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.counter__input {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 40px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  background: transparent;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

.delete {
  color: #888686; }
  .delete:hover {
    color: #fff; }

.cart-table-bottom__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.cart-table-bottom {
  margin-bottom: 120px; }

.cart-table-bottom__item {
  width: 100%;
  max-width: 480px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  padding: 15px 0; }

.checkbox input {
  display: none; }
  .checkbox input:checked + label::before {
    background-color: #fff; }
.checkbox label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer; }
  .checkbox label::before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 4px solid #363233;
    background: #363233; }
  .checkbox label span {
    margin-left: 1.5em; }

.cart-table-bottom__cta {
  width: 100%;
  max-width: 480px;
  margin-top: 100px; }

.btn {
  font-size: 18px;
  text-transform: uppercase;
  color: #FAF5EF;
  display: inline-block;
  position: relative;
  white-space: nowrap;
  border: none;
  padding: 0;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all .4s;
  transition: all .4s; }
  .btn::after {
    content: '';
    width: 30%;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transition: all .5s;
    transition: all .5s; }
  .btn:hover::after {
    width: 100%; }

.order-form {
  margin-bottom: 100px; }

.order-form__body {
  padding-top: 60px; }

.order-form__content {
  width: 65%; }

.order-form__sidebar {
  width: 30%;
  position: -webkit-sticky;
  position: sticky;
  top: 20px; }
  .order-form__sidebar .notice {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 60px; }
  .order-form__sidebar .cart-table-bottom__cta {
    margin-top: 60px; }

.order-form__content__group {
  margin-bottom: 60px; }
  .order-form__content__group .h4 {
    margin-bottom: 30px; }

.input-row .input-wrapper {
  width: 49%; }

.input-wrapper {
  width: 100%;
  margin-bottom: 35px; }
  .input-wrapper span {
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px; }

.input {
  display: block;
  width: 100%;
  height: 80px;
  border: 1px solid #888686;
  background-color: transparent;
  color: #fff;
  font-size: 18px;
  font-family: "BrutalType", sans-serif;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  outline: none;
  padding: 0 30px;
  -webkit-transition: all .4s;
  transition: all .4s; }
  .input::-webkit-input-placeholder {
    color: #605D5E;
    font-size: 16px;
    font-family: "BrutalType", sans-serif;
    -webkit-transition: opacity .3s;
    transition: opacity .3s; }
  .input:-ms-input-placeholder {
    color: #605D5E;
    font-size: 16px;
    font-family: "BrutalType", sans-serif;
    -webkit-transition: opacity .3s;
    transition: opacity .3s; }
  .input::-ms-input-placeholder {
    color: #605D5E;
    font-size: 16px;
    font-family: "BrutalType", sans-serif;
    -webkit-transition: opacity .3s;
    transition: opacity .3s; }
  .input::placeholder {
    color: #605D5E;
    font-size: 16px;
    font-family: "BrutalType", sans-serif;
    -webkit-transition: opacity .3s;
    transition: opacity .3s; }
  .input:focus {
    border-color: #fff; }
    .input:focus::-webkit-input-placeholder {
      opacity: 0; }
    .input:focus:-ms-input-placeholder {
      opacity: 0; }
    .input:focus::-ms-input-placeholder {
      opacity: 0; }
    .input:focus::placeholder {
      opacity: 0; }

textarea.input {
  padding-top: 20px;
  height: 140px; }

.order-form__content__group__item {
  padding: 30px 0;
  border-bottom: 1px solid #888686; }
  .order-form__content__group__item:first-child {
    border-top: 1px solid #888686; }

.lk-block__menu {
  padding: 50px 0; }

.lk-menu {
  font-size: 18px;
  text-transform: uppercase; }
  .lk-menu li:not(:last-child) {
    margin-right: 5vw; }
  .lk-menu li a {
    display: block;
    position: relative; }
    .lk-menu li a::after {
      content: '';
      width: 0;
      height: 2px;
      background-color: currentColor;
      position: absolute;
      top: 100%;
      left: 0;
      -webkit-transition: all .4s;
      transition: all .4s; }
    .lk-menu li a.active::after, .lk-menu li a:hover::after {
      width: 30%; }

.addresses-block {
  margin: 60px 0;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  border-top: 1px solid #888686; }

.addresses-block__top {
  padding: 40px 0;
  border-bottom: 1px solid #888686; }

.addresses-block__top__item,
.addresses-block__content__item {
  width: 50%; }
  .addresses-block__top__item:last-child,
  .addresses-block__content__item:last-child {
    width: 45%; }

.addresses-block__content {
  padding-top: 30px; }

.addresses-block__content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 50px; }
  .addresses-block__content__item:not(:last-child) {
    border-right: 1px solid #888686; }

.addresses__list {
  padding-right: 30px; }
  .addresses__list li {
    margin-bottom: 30px;
    line-height: 1.3; }
    .addresses__list li:last-child {
      margin-bottom: 0; }

.letter {
  font-family: "Saol Display Regular"; }

.about-top {
  position: relative;
  margin-bottom: 200px; }
  .about-top .decor-img {
    position: absolute;
    bottom: 0;
    right: 8vw;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%); }

.about__img {
  background-color: #000000;
  text-align: center;
  line-height: 0; }
  .about__img img {
    max-width: 100%; }

.owner-name {
  font-size: 4.65vw;
  text-transform: uppercase;
  font-weight: 300;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%); }

.decor-img {
  position: relative;
  width: 192px; }
  .decor-img img {
    width: 100%; }
  .decor-img .letter {
    position: absolute;
    font-size: 144px; }
    .decor-img .letter__bottom {
      left: 50%;
      bottom: 0;
      -webkit-transform: translate(-50%, 50%);
              transform: translate(-50%, 50%); }
    .decor-img .letter__right {
      right: 0;
      top: 50%;
      -webkit-transform: translate(50%, -50%);
              transform: translate(50%, -50%); }

.about-me-descr-block .about-me__text {
  margin-bottom: 140px; }

.about-me__text {
  margin: 0 auto 100px;
  text-align: center; }
  .about-me__text p {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    line-height: 145%;
    font-weight: 300; }
    .about-me__text p:not(:last-child) {
      margin-bottom: 0.5em; }

.about-me-descr-block {
  position: relative; }
  .about-me-descr-block .decor-img {
    position: relative;
    left: 5vw;
    bottom: 0;
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%); }

.video {
  height: 870px;
  position: relative;
  margin-bottom: 140px; }

.video video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.video.pause .play-video {
  opacity: 0; }

.play-video {
  display: block;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background: url(../img/play-video.svg) center no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff slick-image-url("../img/icons/ajax-loader.gif") center center no-repeat; }

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

.wow {
  visibility: visible !important; }
  .wow .main-product__item__descr .h3,
  .wow .main-product__item__descr p,
  .wow .main-product__item__descr .main-product__item__link {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0; }
  .wow .main-product__item__photos {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0.2;
    -webkit-transition: all .7s ease-in;
    transition: all .7s ease-in; }

.animated .h3,
.animated p,
.animated .main-product__item__link {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-animation: animateText 1s ease-in forwards;
          animation: animateText 1s ease-in forwards; }
.animated p {
  -webkit-animation-delay: .75s;
          animation-delay: .75s; }
.animated .main-product__item__link {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }
.animated .main-product__item__photos {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1; }

.text-wrapper {
  overflow: hidden;
  margin-bottom: 70px; }
  .text-wrapper:last-child {
    margin-bottom: 0; }
  .text-wrapper .h3,
  .text-wrapper p,
  .text-wrapper .main-product__item__link {
    margin-bottom: 0 !important; }

@-webkit-keyframes animateText {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1; } }

@keyframes animateText {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0; }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1; } }
/*Header*/
.index-page .header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  z-index: 2; }

.header {
  padding: 40px 0;
  color: #fff;
  position: relative;
  z-index: 2; }

.header__right__link {
  margin: 0 20px; }
  .header__right__link:hover {
    opacity: 0.8; }

.menu-btn {
  margin-left: 60px;
  color: #fff;
  cursor: pointer; }
  .menu-btn .icon {
    width: 30px;
    height: 20px; }
  .menu-btn:hover {
    opacity: 0.8; }

.lang {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase; }
  .lang li:not(:last-child) {
    margin-right: 20px; }
  .lang li a:hover, .lang li a.active {
    opacity: 0.8; }

.menu-block {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  z-index: 10;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s; }
  .menu-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); }

.menu-block__left,
.menu-block__right {
  position: absolute;
  top: 0;
  width: 45%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FAF5EF;
  font-weight: 300;
  -webkit-transition: all .5s;
  transition: all .5s;
  z-index: 2; }
  .menu-block__left p,
  .menu-block__right p {
    line-height: 1.4;
    margin-bottom: 20px; }

.open-menu {
  overflow: hidden; }
  .open-menu .menu-block {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .open-menu .menu-block__left,
  .open-menu .menu-block__right {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .open-menu .top-screen .logo img {
    -webkit-filter: brightness(0.2);
            filter: brightness(0.2);
    -webkit-transition: all .4s;
    transition: all .4s; }

.menu-block__left {
  left: 0;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%); }

.menu-block__right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  right: 0;
  background: rgba(29, 23, 23, 0.81);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2vh 5vw;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-delay: .4s;
          transition-delay: .4s; }

.menu {
  padding-right: 40px; }
  .menu li:not(:last-child) {
    margin-bottom: 3rem; }
  .menu li a {
    font-size: 4.5vw;
    font-weight: 300;
    display: block;
    position: relative; }
    .menu li a::after {
      content: '';
      width: 0;
      height: 2px;
      background-color: currentColor;
      position: absolute;
      top: 100%;
      left: 0;
      -webkit-transition: all .3s;
      transition: all .3s; }
    .menu li a:hover::after, .menu li a.active::after {
      width: 30%; }

.close-menu {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 38px;
  height: 38px; }
  .close-menu svg {
    width: 100%;
    height: 100%; }
  .close-menu:hover {
    opacity: 0.6; }

/*Footer*/
.footer {
  background-color: #1C1C1C;
  text-align: center;
  padding: 70px 0;
  font-weight: 300;
  font-size: 18px; }
  .footer p {
    margin-bottom: 2em; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  text-transform: uppercase; }
  .social li {
    padding: 0 10px; }
    .social li a {
      display: inline-block;
      position: relative;
      line-height: 1.2;
      -webkit-transition: all .5s ease-in;
      transition: all .5s ease-in; }
      .social li a::after {
        content: '';
        width: 0;
        height: 1px;
        background-color: currentColor;
        position: absolute;
        left: 0;
        top: 100%;
        -webkit-transition: all .4s ease-in;
        transition: all .4s ease-in; }
      .social li a:hover {
        opacity: 0.8; }
        .social li a:hover::after {
          width: 100%; }

@media (max-width: 1440px) {
  .block-title,
  .product-top {
    margin-bottom: 60px; }

  h1,
  .h1 {
    font-size: 60px; }

  h2,
  .h2 {
    font-size: 56px; }

  h3,
  .h3 {
    font-size: 44px; }

  .product-page__preview-slider {
    height: 200px; }

  .product-page__content__img__slider {
    height: 600px; }

  .product__options__row {
    margin-bottom: 25px;
    padding: 8px 0; }

  .select {
    font-size: 16px; }

  .product-page__content__data .h3 {
    margin-bottom: 20px; }

  p {
    font-size: 16px; }

  .product__options {
    margin: 35px 0; }

  .cart-img {
    width: 120px;
    height: 120px; }

  .order-form__content {
    width: 57%; }

  .order-form__sidebar {
    width: 40%; }

  .lk-block__menu {
    padding: 30px 0; }

  .lk-menu li:not(:last-child) {
    margin-right: 3vw; }

  .addresses-block {
    margin: 30px 0; }

  .addresses-block__top {
    padding: 20px 0; }

  .addresses-block__content__item {
    padding-right: 30px; }

  .video {
    height: 600px; }

  .about__img img {
    max-height: 60vh; }

  .decor-img {
    width: 9vw; }

  .decor-img .letter {
    font-size: 7vw; }

  .about-me__text p {
    font-size: 28px; } }
@media (max-width: 1280px) {
  h1,
  .h1 {
    font-size: 50px; }

  h2,
  .h2 {
    font-size: 40px; }

  h3,
  .h3 {
    font-size: 32px; }

  .main-product__item__descr p {
    font-size: 16px;
    line-height: 1.5; }

  .footer {
    padding: 35px 0;
    font-size: 16px; }
    .footer p {
      margin-bottom: 15px; }

  .main-product__item__link {
    font-size: 14px; }

  .text-wrapper:not(:last-child) {
    margin-bottom: 30px; }

  .block-title,
  .product-top {
    margin-bottom: 40px; }

  .product-list__img {
    margin-bottom: 20px; }

  .product-list__item {
    margin-bottom: 30px; }

  .product-list__link {
    font-size: 18px; }

  .input-wrapper {
    margin-bottom: 20px; }
    .input-wrapper span {
      margin-bottom: 10px; }

  .input {
    height: 50px; }

  .order-form__content__group {
    margin-bottom: 40px; }

  .order-form__content__group__item {
    padding: 15px 0; }

  .checkbox label {
    font-size: 16px; }
    .checkbox label span {
      margin-left: 1em; }

  .order-form__sidebar .notice {
    margin-top: 30px; }

  .order-form__sidebar .cart-table-bottom__cta {
    margin-top: 30px; }

  .about-me-descr-block .decor-img {
    -webkit-transform: translateY(0);
            transform: translateY(0); }

  .video,
  .about-me-descr-block .about-me__text {
    margin-bottom: 90px; }

  .about-top {
    margin-bottom: 130px; } }
/* 1280 */
@media (max-width: 990px) {
  .main-product__item__descr {
    padding: 40px 20px; }

  .page-switcher {
    margin: 30px 0; }

  .product-list--three-column .product-list__item {
    width: 50%; }

  .header {
    padding: 20px 0; }

  .for-tablet {
    display: block !important; }
    .for-tablet.flex {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important; }

  .hide-on-tablet {
    display: none !important; }

  .product-page__preview-slider {
    height: 120px;
    margin: 20px 0; }

  .product-page__preview-slide {
    padding: 0 3px; }

  .product-page__preview-slider .slick-arrow {
    width: 30px;
    height: 20px;
    top: calc(100% + 10px); }
    .product-page__preview-slider .slick-arrow svg {
      width: 100%;
      height: 100%; }

  .product-page__content__img__slider {
    height: 500px;
    max-width: 480px;
    margin: 0 auto; }

  .product-page__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }

  .product-page__content__img,
  .product-page__content__data,
  .order-form__content,
  .order-form__sidebar {
    width: 100%; }

  .product-page__content__data {
    margin-top: 40px; }

  .cart-img {
    width: 80px;
    height: 80px; }

  .descr {
    font-size: 12px; }

  .order-form__body {
    display: block; }

  .lk-block__menu .btn {
    font-size: 16px; }

  .lk-menu {
    font-size: 16px; }

  .addresses-block__content__item {
    padding-right: 0;
    display: block; }

  .addresses__list {
    margin-bottom: 30px; }

  .about__img img {
    max-height: 40vh; }

  .about-me__text p {
    font-size: 22px; }

  .video {
    height: 400px; }

  .video,
  .about-me-descr-block .about-me__text {
    margin-bottom: 50px; }

  .close-menu {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 30px;
    height: 30px; }

  .menu-block__left {
    padding: 20px;
    text-align: center; }
    .menu-block__left p {
      font-size: 14px; } }
@media (max-width: 767px) {
  .main-product__item__content {
    display: block; }

  .main-product__item__photos,
  .main-product__item__descr,
  .input-row .input-wrapper {
    width: 100%; }

  h1,
  .h1 {
    font-size: 34px; }

  h2,
  .h2 {
    font-size: 30px; }

  h3,
  .h3 {
    font-size: 26px; }

  .product__item__descr {
    padding: 40px 20px; }

  .main-product__item__descr p {
    font-size: 14px;
    line-height: 1.8; }

  .footer p {
    font-size: 14px;
    line-height: 1.4; }
    .footer p span {
      display: block; }

  .social {
    font-size: 14px; }

  .header__right__link {
    margin: 0 10px; }

  .header .icon {
    width: 20px;
    height: 20px; }
  .header .menu-btn {
    margin-left: 20px; }
    .header .menu-btn .icon {
      width: 30px;
      height: 20px; }

  .text-wrapper:not(:last-child) {
    margin-bottom: 15px; }

  .block-title,
  .product-top {
    margin-bottom: 25px; }

  .container {
    padding: 0 10px; }

  .cart-img {
    width: 60px;
    height: 60px; }

  .cart-table td {
    padding: 15px 10px; }

  .cart-table {
    margin-bottom: 40px; }

  .cart-table-bottom__cta {
    margin-top: 40px; }

  .cart-table-bottom {
    margin-bottom: 60px; }

  .btn {
    font-size: 16px; }

  .cart-table-bottom__cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
    .cart-table-bottom__cta .btn:not(:last-child) {
      margin-bottom: 30px; }

  .h4 {
    font-size: 20px; }

  .order-form__content__group .h4 {
    margin-bottom: 20px; }

  .input-row {
    display: block; }

  .order-form__body {
    padding-top: 30px; }

  .input {
    padding: 0 15px;
    font-size: 16px; }

  textarea.input {
    padding-top: 10px; }

  .lk-block__menu {
    display: block;
    padding: 20px 0 10px; }
    .lk-block__menu .btn {
      font-size: 14px; }

  .lk-menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 14px;
    margin-bottom: 20px; }
    .lk-menu li {
      margin-bottom: 15px; }
      .lk-menu li a {
        white-space: nowrap; }

  .addresses__list li {
    margin-bottom: 10px;
    line-height: 1.5; }

  .decor-img {
    display: none; }

  .about-top {
    margin-bottom: 50px; }

  .owner-name {
    font-size: 34px;
    width: 100%;
    text-align: center; }

  .about-me__text p {
    font-size: 18px; }

  .video {
    height: 250px; }

  .play-video {
    width: 40px;
    height: 40px; }

  .about-me__text {
    margin-bottom: 50px; }

  .menu-block__left,
  .menu-block::before {
    display: none; }

  .menu-block__right {
    width: 100%; }

  .menu {
    padding-right: 0;
    width: 100%;
    text-align: center; }
    .menu li:not(:last-child) {
      margin-bottom: 30px; }
    .menu li a {
      font-size: 24px;
      display: inline-block; }

  .close-menu {
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px; } }
/* 767 */
@media (max-width: 480px) {
  .product-list {
    margin: 0 -3px; }

  .product-list--two-column .product-list__item,
  .product-list--three-column .product-list__item {
    width: 50%; }

  .product-list__item {
    margin-bottom: 25px;
    padding: 0 3px; }

  .product-list__link {
    font-size: 14px; }

  .product-list__img {
    margin-bottom: 10px; }

  .page-switcher__link {
    width: 30px;
    height: 15px; }
    .page-switcher__link svg {
      width: 100%;
      height: 100%; }

  .page-switcher {
    margin: 15px 0 30px; }

  .block-title .h1,
  .block-title .h2 {
    font-size: 26px; }
  .block-title .subtitle {
    font-size: 16px; }

  .product-top .product-name {
    font-size: 26px; }

  .product-page__content__img__slider {
    height: 300px; }

  .product-page__preview-slider {
    height: 80px;
    margin: 10px 0; }

  .product__options__row {
    display: block; }

  p {
    font-size: 14px; }

  .product__options__row__title {
    margin-right: 0;
    margin-bottom: 10px; }

  .add-to-cart {
    font-size: 15px; }

  .price__title {
    font-size: 12px; }
  .price__total {
    font-size: 26px; }

  .add-to-cart .text::after {
    height: 1px; }

  .cart-table-wrapper {
    overflow-x: auto; }

  .cart-table {
    min-width: 600px; }
    .cart-table td:first-child {
      width: 60px; }
    .cart-table td:nth-child(2) {
      width: 200px; }
    .cart-table thead {
      font-size: 12px; }

  .cart-img {
    width: 50px;
    height: 50px; } }

/*# sourceMappingURL=style.css.map */