@import url(//db.onlinewebfonts.com/c/4c4c08af466e9ad071b6d69cf44093df?family=Saol+Display+Regular);
@font-face {
    font-family: "BrutalType";
    src: url("../font/BrutalType/BrutalType-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "BrutalType";
    src: url("../font/BrutalType/BrutalType-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "BrutalType";
    src: url("../font/BrutalType/BrutalType.woff") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "BrutalType";
    src: url("../font/BrutalType/BrutalType-Light.woff") format("woff");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}