/*Footer*/

.footer {
    background-color: #1C1C1C;
    text-align: center;
    padding: 70px 0;
    font-weight: 300;
    font-size: 18px;
    p {
        margin-bottom: 2em;
    }
}

.social {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 18px;
    text-transform: uppercase;
    li {
        padding: 0 10px;
        a {
            display: inline-block;
            position: relative;
            line-height: 1.2;
            transition: all .5s ease-in;
            &::after {
                content: '';
                width: 0;
                height: 1px;
                background-color: currentColor;
                position: absolute;
                left: 0;
                top: 100%;
                transition: all .4s ease-in;
            }
            &:hover {
                opacity: 0.8;
                &::after {
                    width: 100%;
                }
            }
        }
    }
}