.wow {
    visibility: visible !important;
    .main-product__item__descr {
        .h3,
        p,
        .main-product__item__link {
            transform: translateX(-100%);
            opacity: 0;
        }
    }
    .main-product__item__photos {
        transform: scale(.7);
        opacity: 0.2;
        transition: all .7s ease-in;
    }
}

.animated {
    .h3,
    p,
    .main-product__item__link {
        transform: translateX(-100%);
        opacity: 0;
        animation: animateText 1s ease-in forwards;
    }
    p {
        animation-delay: .75s;
    }
    .main-product__item__link {
        animation-delay: 1s;
    }
    .main-product__item__photos {
        transform: scale(1);
        opacity: 1;
    }
}

.text-wrapper {
    overflow: hidden;
    margin-bottom: 70px;
    &:last-child {
        margin-bottom: 0;
    }
    .h3,
    p,
    .main-product__item__link {
        margin-bottom: 0 !important;
    }
}

@keyframes animateText {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}