    /*Header*/
    
    .index-page .header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transition: opacity .5s;
        z-index: 2;
    }
    
    .header {
        padding: 40px 0;
        color: #fff;
        position: relative;
        z-index: 2;
    }
    
    .header__right__link {
        margin: 0 20px;
        &:hover {
            opacity: 0.8;
        }
    }
    
    .menu-btn {
        margin-left: 60px;
        color: #fff;
        cursor: pointer;
        .icon {
            width: 30px;
            height: 20px;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    
    .lang {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        li {
            &:not(:last-child) {
                margin-right: 20px;
            }
            a {
                &:hover,
                &.active {
                    opacity: 0.8;
                }
            }
        }
    }
    
    .menu-block {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(-100%);
        z-index: 10;
        transition: transform .4s;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, .3);
        }
    }
    
    .menu-block__left,
    .menu-block__right {
        position: absolute;
        top: 0;
        width: 45%;
        height: 100%;
        background: rgba(#000, .3);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #FAF5EF;
        font-weight: 300;
        transition: all .5s;
        z-index: 2;
        p {
            line-height: 1.4;
            margin-bottom: 20px;
        }
    }
    
    .open-menu {
        overflow: hidden;
        .menu-block {
            transform: translateY(0);
        }
        .menu-block__left,
        .menu-block__right {
            transform: translateX(0);
        }
        .top-screen {
            .logo {
                img {
                    filter: brightness(0.2);
                    transition: all .4s;
                }
            }
        }
    }
    
    .menu-block__left {
        left: 0;
        transition-delay: .2s;
        transform: translateX(-100%);
    }
    
    .menu-block__right {
        flex-direction: row;
        right: 0;
        background: rgba(29, 23, 23, 0.81);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vh 5vw;
        transform: translateX(100%);
        transition-delay: .4s;
    }
    
    .menu {
        padding-right: 40px;
        li {
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
            a {
                font-size: 4.5vw;
                font-weight: 300;
                display: block;
                position: relative;
                &::after {
                    content: '';
                    width: 0;
                    height: 2px;
                    background-color: currentColor;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    transition: all .3s;
                }
                &:hover,
                &.active {
                    &::after {
                        width: 30%;
                    }
                }
            }
        }
    }
    
    .close-menu {
        display: block;
        flex: none;
        width: 38px;
        height: 38px;
        svg {
            width: 100%;
            height: 100%;
        }
        &:hover {
            opacity: 0.6;
        }
    }