:root {
    --main-bg: #231F20;
    --white: #FAF5EF;
}

html,
body {
    min-height: 100vh;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--main-bg);
    color: var(--white);
    font-family: "BrutalType", sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: currentColor;
    transition: all .2s;
}

h1,
.h1 {
    font-size: 72px;
}

h2,
.h2 {
    font-size: 64px;
}

h3,
.h3 {
    font-size: 48px;
}

.h4 {
    font-size: 24px;
}

.font-300 {
    font-weight: 300;
}

.font-500 {
    font-weight: 500;
}

b,
strong {
    font-weight: 700;
}

.font-900 {
    font-weight: 900;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1800px;
    padding: 0 20px;
    margin: 0 auto;
    &--full {
        padding: 0;
        max-width: unset;
    }
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.svg-sprite {
    display: none;
}

.for-tablet {
    display: none !important;
}

.top-screen {
    width: 100%;
    height: 100vh;
    position: relative;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(#000, .4);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}

.full-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    flex: none;
    svg {
        width: 100%;
        height: 100%;
    }
}

.main-product__item__photos,
.main-product__item__descr {
    width: 50%;
}

.main-product__item__descr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 7vw;
    .h3 {
        margin-bottom: 1em;
    }
    p {
        max-width: 530px;
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 4.4em;
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.main-product__item__link {
    display: inline-block;
    position: relative;
    font-size: 18px;
    &:hover {
        &::after {
            width: 100%;
        }
        span {
            &::after {
                width: 0;
            }
        }
    }
    &::after {
        content: '';
        width: 0;
        height: 2px;
        background-color: currentColor;
        position: absolute;
        top: 100%;
        right: 0;
        transition: all .7s ease-in;
    }
    span {
        display: inline-block;
        position: relative;
        &::after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: currentColor;
            position: absolute;
            top: 100%;
            left: 0;
            transition: all .7s .2s;
        }
    }
}

.main-product-list {
    .main-product__item {
        &:nth-child(even) {
            .main-product__item__content {
                flex-direction: row-reverse;
            }
        }
    }
}

.main-product__item__slide {
    img {
        width: 100%;
        max-height: 1000px;
    }
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    &--two-column {
        .product-list__item {
            width: 50%;
        }
    }
    &--three-column {
        .product-list__item {
            width: 33.333%;
        }
    }
    &__item {
        padding: 0 10px;
        margin-bottom: 70px;
        text-align: center;
        &__body {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__img {
        display: block;
        line-height: 0;
        margin-bottom: 50px;
        flex-grow: 1;
        &:hover {
            img {
                filter: brightness(1.3)
            }
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .5s;
        }
    }
    &__link {
        display: inline-block;
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 300;
        position: relative;
        &::after {
            content: '';
            width: 0;
            height: 1px;
            position: absolute;
            left: 0;
            top: 100%;
            background-color: currentColor;
            transition: all .5s ease-in;
        }
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}

.block-title {
    margin-bottom: 100px;
    .subtitle {
        margin-bottom: 1em;
        font-weight: 300;
    }
}

.page-switcher {
    margin: 30px 0 70px;
}

.page-switcher__link {
    &:hover {
        color: rgba(#fff, .6)
    }
}

.product-top {
    position: relative;
    line-height: 0;
    margin-bottom: 100px;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(#000, .3);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    img {
        width: 100%;
    }
    .product-name {
        position: absolute;
        width: 100%;
        padding: 0 20px;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1.2;
        font-weight: 300;
        z-index: 2;
    }
}

.product-page {
    margin-bottom: 100px;
}

.product-page__content__img,
.product-page__content__data {
    width: 48%;
}

.product-page__content__data {
    display: flex;
    flex-direction: column;
}

.product-page__content__img__slider {
    width: 100%;
    height: 800px;
    .slick-list,
    .slick-track {
        height: 100%;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.product-page__preview-slider {
    margin: 50px -10px 100px;
    height: 260px;
    .slick-list,
    .slick-track {
        height: 100%;
    }
    .slick-arrow {
        position: absolute;
        top: calc(100% + 35px);
        z-index: 1;
        cursor: pointer;
        transition: all .3s;
        &:hover {
            opacity: 0.7;
        }
    }
    .prev-arrow {
        left: 10px;
    }
    .next-arrow {
        right: 10px;
    }
}

.product-page__preview-slide {
    padding: 0 10px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.hr {
    width: 100%;
    height: 2px;
    background-color: #888686;
}

p {
    font-size: 18px;
    line-height: 145%;
}

.product-page__bottom {
    margin-top: 50px;
}

.product-page__preview-slider {
    .slick-current {
        img {
            border: 1px solid #888686
        }
    }
}

.product-page__content__data {
    .h3 {
        line-height: 1.2;
        margin-bottom: 1em;
    }
    p {}
}

.product__options__row {
    padding: 15px 0;
    margin-bottom: 50px;
    border-bottom: 1px solid #888686;
    &:last-child {
        margin-bottom: 0;
    }
}

.product__options {
    margin: 65px 0;
    flex-grow: 1;
}

.product__options__row__title {
    white-space: nowrap;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
}

.product__options__row__content {
    flex-grow: 1;
}

.color-list {
    li {
        padding: 0 5px;
        margin-bottom: 8px;
        width: 60px;
        height: 16px;
        a {
            display: block;
            height: 100%;
            line-height: 0;
            position: relative;
            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                left: -4px;
                top: -4px;
                border: 4px solid #DFDFDF;
                opacity: 0;
                transition: all .3s;
            }
            &:hover {
                opacity: 0.8;
            }
            &.active {
                &::before {
                    opacity: 1;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.select {
    width: 100%;
    background: url('../img/icons/select-arrow.svg') 100% center no-repeat;
    padding-right: 30px;
    color: #fff;
    font-size: 18px;
    border: none;
    appearance: none;
    cursor: pointer;
}

.price {
    &__title {
        font-size: 14px;
        margin-bottom: 5px;
    }
    &__total {
        font-weight: 300;
        font-size: 36px;
    }
}

.add-to-cart {
    font-size: 18px;
    &:hover {
        .text {
            &::after {
                width: 100%;
            }
        }
    }
    .icon {
        flex: none;
        width: 1.166em;
        height: 0.944em;
        margin-right: 0.8em;
        position: relative;
        top: -0.15em;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .text {
        position: relative;
        &::after {
            content: '';
            width: 40%;
            height: 2px;
            background-color: currentColor;
            position: absolute;
            top: 100%;
            left: 0;
            transition: all .4s ease-in;
        }
    }
}

.cart-table {
    table-layout: fixed;
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.3;
    margin-bottom: 100px;
    td {
        padding: 25px 20px 25px 10px;
        border-bottom: 1px solid #888686;
        vertical-align: middle;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            width: 30px;
            padding-right: 0;
        }
    }
    thead {
        td {
            border-top: 1px solid #888686;
        }
    }
}

.cart-img {
    width: 180px;
    height: 180px;
    line-height: 0;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.counter {
    font-size: 18px;
    display: flex;
    align-items: center;
}

.counter__input {
    flex: none;
    width: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background: transparent;
    border: none;
    appearance: none;
}

.delete {
    color: #888686;
    &:hover {
        color: #fff;
    }
}

.cart-table-bottom__content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.cart-table-bottom {
    margin-bottom: 120px;
}

.cart-table-bottom__item {
    width: 100%;
    max-width: 480px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    padding: 15px 0;
}

.checkbox {
    input {
        display: none;
        &:checked+label {
            &::before {
                background-color: #fff;
            }
        }
    }
    label {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;
        cursor: pointer;
        &::before {
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            border: 4px solid #363233;
            background: #363233;
        }
        span {
            margin-left: 1.5em;
        }
    }
}

.cart-table-bottom__cta {
    width: 100%;
    max-width: 480px;
    margin-top: 100px;
}

.btn {
    font-size: 18px;
    text-transform: uppercase;
    color: #FAF5EF;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    border: none;
    padding: 0;
    background: transparent;
    appearance: none;
    transition: all .4s;
    &::after {
        content: '';
        width: 30%;
        height: 2px;
        background-color: currentColor;
        position: absolute;
        top: 100%;
        left: 0;
        transition: all .5s;
    }
    &:hover {
        &::after {
            width: 100%;
        }
    }
}

.order-form {
    margin-bottom: 100px;
}

.order-form__body {
    padding-top: 60px;
}

.order-form__content {
    width: 65%;
}

.order-form__sidebar {
    width: 30%;
    position: sticky;
    top: 20px;
    .notice {
        font-size: 14px;
        line-height: 1.4;
        margin-top: 60px;
    }
    .cart-table-bottom__cta {
        margin-top: 60px;
    }
}

.order-form__content__group {
    margin-bottom: 60px;
    .h4 {
        margin-bottom: 30px;
    }
}

.input-row {
    .input-wrapper {
        width: 49%;
    }
}

.input-wrapper {
    width: 100%;
    margin-bottom: 35px;
    span {
        display: block;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}

.input {
    display: block;
    width: 100%;
    height: 80px;
    border: 1px solid #888686;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-family: "BrutalType", sans-serif;
    appearance: none;
    border-radius: 0;
    outline: none;
    padding: 0 30px;
    transition: all .4s;
    &::placeholder {
        color: #605D5E;
        font-size: 16px;
        font-family: "BrutalType", sans-serif;
        transition: opacity .3s;
    }
    &:focus {
        border-color: #fff;
        &::placeholder {
            opacity: 0;
        }
    }
}

textarea.input {
    padding-top: 20px;
    height: 140px;
}

.order-form__content__group__item {
    padding: 30px 0;
    border-bottom: 1px solid #888686;
    &:first-child {
        border-top: 1px solid #888686;
    }
}

.lk-block__menu {
    padding: 50px 0;
}

.lk-menu {
    font-size: 18px;
    text-transform: uppercase;
    li:not(:last-child) {
        margin-right: 5vw;
    }
    li {
        a {
            display: block;
            position: relative;
            &::after {
                content: '';
                width: 0;
                height: 2px;
                background-color: currentColor;
                position: absolute;
                top: 100%;
                left: 0;
                transition: all .4s;
            }
            &.active,
            &:hover {
                &::after {
                    width: 30%;
                }
            }
        }
    }
}

.addresses-block {
    margin: 60px 0;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    border-top: 1px solid #888686;
}

.addresses-block__top {
    padding: 40px 0;
    border-bottom: 1px solid #888686;
}

.addresses-block__top__item,
.addresses-block__content__item {
    width: 50%;
    &:last-child {
        width: 45%;
    }
}

.addresses-block__content {
    padding-top: 30px;
}

.addresses-block__content__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
    &:not(:last-child) {
        border-right: 1px solid #888686;
    }
}

.addresses__list {
    padding-right: 30px;
    li {
        margin-bottom: 30px;
        line-height: 1.3;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.letter {
    font-family: "Saol Display Regular";
}

.about-top {
    position: relative;
    margin-bottom: 200px;
    .decor-img {
        position: absolute;
        bottom: 0;
        right: 8vw;
        transform: translate(0, 50%);
    }
}

.about__img {
    background-color: #000000;
    text-align: center;
    line-height: 0;
    img {
        max-width: 100%;
    }
}

.owner-name {
    font-size: 4.65vw;
    text-transform: uppercase;
    font-weight: 300;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

.decor-img {
    position: relative;
    width: 192px;
    img {
        width: 100%;
    }
    .letter {
        position: absolute;
        font-size: 144px;
        &__bottom {
            left: 50%;
            bottom: 0;
            transform: translate(-50%, 50%);
        }
        &__right {
            right: 0;
            top: 50%;
            transform: translate(50%, -50%);
        }
    }
}

.about-me-descr-block {
    .about-me__text {
        margin-bottom: 140px;
    }
}

.about-me__text {
    margin: 0 auto 100px;
    text-align: center;
    p {
        max-width: 840px;
        margin-left: auto;
        margin-right: auto;
        font-size: 36px;
        line-height: 145%;
        font-weight: 300;
        &:not(:last-child) {
            margin-bottom: 0.5em;
        }
    }
}

.about-me-descr-block {
    position: relative;
    .decor-img {
        position: relative;
        left: 5vw;
        bottom: 0;
        transform: translateY(-20%);
    }
}

.video {
    height: 870px;
    position: relative;
    margin-bottom: 140px;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video.pause .play-video {
    opacity: 0;
}

.play-video {
    display: block;
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    background: url(../img/play-video.svg) center no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}