@media(max-width: 1440px) {
    .block-title,
    .product-top {
        margin-bottom: 60px;
    }
    h1,
    .h1 {
        font-size: 60px;
    }
    h2,
    .h2 {
        font-size: 56px;
    }
    h3,
    .h3 {
        font-size: 44px;
    }
    .product-page__preview-slider {
        height: 200px;
    }
    .product-page__content__img__slider {
        height: 600px;
    }
    .product__options__row {
        margin-bottom: 25px;
        padding: 8px 0;
    }
    .select {
        font-size: 16px;
    }
    .product-page__content__data .h3 {
        margin-bottom: 20px
    }
    p {
        font-size: 16px;
    }
    .product__options {
        margin: 35px 0;
    }
    .cart-img {
        width: 120px;
        height: 120px;
    }
    .order-form__content {
        width: 57%;
    }
    .order-form__sidebar {
        width: 40%;
    }
    .lk-block__menu {
        padding: 30px 0;
    }
    .lk-menu li:not(:last-child) {
        margin-right: 3vw;
    }
    .addresses-block {
        margin: 30px 0;
    }
    .addresses-block__top {
        padding: 20px 0;
    }
    .addresses-block__content__item {
        padding-right: 30px;
    }
    .video {
        height: 600px;
    }
    .about__img img {
        max-height: 60vh;
    }
    .decor-img {
        width: 9vw;
    }
    .decor-img .letter {
        font-size: 7vw;
    }
    .about-me__text p {
        font-size: 28px;
    }
}

// 1440
@media(max-width: 1280px) {
    h1,
    .h1 {
        font-size: 50px;
    }
    h2,
    .h2 {
        font-size: 40px;
    }
    h3,
    .h3 {
        font-size: 32px;
    }
    .main-product__item__descr p {
        font-size: 16px;
        line-height: 1.5;
    }
    .footer {
        padding: 35px 0;
        font-size: 16px;
        p {
            margin-bottom: 15px;
        }
    }
    .main-product__item__link {
        font-size: 14px;
    }
    .text-wrapper:not(:last-child) {
        margin-bottom: 30px;
    }
    .block-title,
    .product-top {
        margin-bottom: 40px;
    }
    .product-list__img {
        margin-bottom: 20px;
    }
    .product-list__item {
        margin-bottom: 30px;
    }
    .product-list__link {
        font-size: 18px;
    }
    .input-wrapper {
        margin-bottom: 20px;
        span {
            margin-bottom: 10px;
        }
    }
    .input {
        height: 50px;
    }
    .order-form__content__group {
        margin-bottom: 40px;
    }
    .order-form__content__group__item {
        padding: 15px 0;
    }
    .checkbox label {
        font-size: 16px;
        span {
            margin-left: 1em;
        }
    }
    .order-form__sidebar .notice {
        margin-top: 30px;
    }
    .order-form__sidebar .cart-table-bottom__cta {
        margin-top: 30px;
    }
    .about-me-descr-block .decor-img {
        transform: translateY(0);
    }
    .video,
    .about-me-descr-block .about-me__text {
        margin-bottom: 90px;
    }
    .about-top {
        margin-bottom: 130px;
    }
}


/* 1280 */

@media(max-width: 990px) {
    .main-product__item__descr {
        padding: 40px 20px;
    }
    .page-switcher {
        margin: 30px 0;
    }
    .product-list--three-column .product-list__item {
        width: 50%;
    }
    .header {
        padding: 20px 0;
    }
    .for-tablet {
        display: block !important;
        &.flex {
            display: flex !important;
        }
    }
    .hide-on-tablet {
        display: none !important;
    }
    .product-page__preview-slider {
        height: 120px;
        margin: 20px 0;
    }
    .product-page__preview-slide {
        padding: 0 3px;
    }
    .product-page__preview-slider .slick-arrow {
        width: 30px;
        height: 20px;
        top: calc(100% + 10px);
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .product-page__content__img__slider {
        height: 500px;
        max-width: 480px;
        margin: 0 auto;
    }
    .product-page__content {
        flex-direction: column-reverse;
    }
    .product-page__content__img,
    .product-page__content__data,
    .order-form__content,
    .order-form__sidebar {
        width: 100%;
    }
    .product-page__content__data {
        margin-top: 40px;
    }
    .cart-img {
        width: 80px;
        height: 80px;
    }
    .descr {
        font-size: 12px;
    }
    .order-form__body {
        display: block;
    }
    .lk-block__menu {
        .btn {
            font-size: 16px;
        }
    }
    .lk-menu {
        font-size: 16px;
    }
    .addresses-block__content__item {
        padding-right: 0;
        display: block;
    }
    .addresses__list {
        margin-bottom: 30px;
    }
    .about__img img {
        max-height: 40vh;
    }
    .about-me__text p {
        font-size: 22px;
    }
    .video {
        height: 400px;
    }
    .video,
    .about-me-descr-block .about-me__text {
        margin-bottom: 50px;
    }
    .close-menu {
        position: absolute;
        top: 40px;
        right: 40px;
        width: 30px;
        height: 30px;
    }
    .menu-block__left {
        padding: 20px;
        text-align: center;
        p {
            font-size: 14px;
        }
    }
}

// 990  
@media(max-width: 767px) {
    .main-product__item__content {
        display: block;
    }
    .main-product__item__photos,
    .main-product__item__descr,
    .input-row .input-wrapper {
        width: 100%;
    }
    h1,
    .h1 {
        font-size: 34px;
    }
    h2,
    .h2 {
        font-size: 30px;
    }
    h3,
    .h3 {
        font-size: 26px;
    }
    .product__item__descr {
        padding: 40px 20px;
    }
    .main-product__item__descr p {
        font-size: 14px;
        line-height: 1.8;
    }
    .footer p {
        font-size: 14px;
        line-height: 1.4;
        span {
            display: block;
        }
    }
    .social {
        font-size: 14px;
    }
    .header__right__link {
        margin: 0 10px;
    }
    .header {
        .icon {
            width: 20px;
            height: 20px;
        }
        .menu-btn {
            margin-left: 20px;
            .icon {
                width: 30px;
                height: 20px;
            }
        }
    }
    .text-wrapper:not(:last-child) {
        margin-bottom: 15px;
    }
    .block-title,
    .product-top {
        margin-bottom: 25px;
    }
    .container {
        padding: 0 10px;
    }
    .cart-img {
        width: 60px;
        height: 60px;
    }
    .cart-table td {
        padding: 15px 10px;
    }
    .cart-table {
        margin-bottom: 40px;
    }
    .cart-table-bottom__cta {
        margin-top: 40px;
    }
    .cart-table-bottom {
        margin-bottom: 60px;
    }
    .btn {
        font-size: 16px;
    }
    .cart-table-bottom__cta {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        .btn {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
    }
    .h4 {
        font-size: 20px;
    }
    .order-form__content__group .h4 {
        margin-bottom: 20px;
    }
    .input-row {
        display: block;
    }
    .order-form__body {
        padding-top: 30px;
    }
    .input {
        padding: 0 15px;
        font-size: 16px;
    }
    textarea.input {
        padding-top: 10px;
    }
    .lk-block__menu {
        display: block;
        padding: 20px 0 10px;
        .btn {
            font-size: 14px;
        }
    }
    .lk-menu {
        flex-wrap: wrap;
        font-size: 14px;
        margin-bottom: 20px;
        li {
            margin-bottom: 15px;
            a {
                white-space: nowrap;
            }
        }
    }
    .addresses__list li {
        margin-bottom: 10px;
        line-height: 1.5;
    }
    .decor-img {
        display: none;
    }
    .about-top {
        margin-bottom: 50px;
    }
    .owner-name {
        font-size: 34px;
        width: 100%;
        text-align: center;
    }
    .about-me__text p {
        font-size: 18px;
    }
    .video {
        height: 250px;
    }
    .play-video {
        width: 40px;
        height: 40px;
    }
    .about-me__text {
        margin-bottom: 50px;
    }
    .menu-block__left,
    .menu-block::before {
        display: none;
    }
    .menu-block__right {
        width: 100%;
    }
    .menu {
        padding-right: 0;
        width: 100%;
        text-align: center;
        li {
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            a {
                font-size: 24px;
                display: inline-block;
            }
        }
    }
    .close-menu {
        top: 20px;
        right: 20px;
        width: 25px;
        height: 25px;
    }
}


/* 767 */

@media(max-width: 480px) {
    .product-list {
        margin: 0 -3px;
    }
    .product-list--two-column .product-list__item,
    .product-list--three-column .product-list__item {
        width: 50%;
    }
    .product-list__item {
        margin-bottom: 25px;
        padding: 0 3px;
    }
    .product-list__link {
        font-size: 14px;
    }
    .product-list__img {
        margin-bottom: 10px;
    }
    .page-switcher__link {
        width: 30px;
        height: 15px;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .page-switcher {
        margin: 15px 0 30px;
    }
    .block-title {
        .h1,
        .h2 {
            font-size: 26px;
        }
        .subtitle {
            font-size: 16px;
        }
    }
    .product-top .product-name {
        font-size: 26px;
    }
    .product-page__content__img__slider {
        height: 300px;
    }
    .product-page__preview-slider {
        height: 80px;
        margin: 10px 0;
    }
    .product__options__row {
        display: block;
    }
    p {
        font-size: 14px;
    }
    .product__options__row__title {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .add-to-cart {
        font-size: 15px;
    }
    .price {
        &__title {
            font-size: 12px;
        }
        &__total {
            font-size: 26px;
        }
    }
    .add-to-cart .text::after {
        height: 1px;
    }
    .cart-table-wrapper {
        overflow-x: auto;
    }
    .cart-table {
        min-width: 600px;
        td:first-child {
            width: 60px;
        }
        td:nth-child(2) {
            width: 200px;
        }
        thead {
            font-size: 12px;
        }
    }
    .cart-img {
        width: 50px;
        height: 50px;
    }
}